// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Laraform
@import '~@laraform/laraform/src/themes/bs4/scss/theme';

// NCA
@import './../js/themes/nca_theme/scss/index.scss';


.outermost-container.group-element {
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.group-label {
    color: grey;
}

.group-field {
    position: relative;
    padding: 10px 0;
}

.big-label {
    font-size: 1.5rem;
    color: black;
}

.final-container {
    border: none !important;
}

.native-select-placeholder {
    color: #808080 !important;
    font-size: 1rem !important;
    top: 16px !important;
    left: calc(30px / 2) !important;
}

.stock-exchange-details.group-element {
    background-color: #fafafa;
}

.static-element {
    margin-bottom: -30px;
}
