.nca-theme {
  /* File, multifile */
  /* Uploaders */
  /* Previews */
  /* Radio, checkbox, radio group, checkbox group */
  /* Select, multiselect, tags */
  /* Slider */
  /* Toggle */
  /* Trix */
  /* Date, datetime, time */
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
}
.nca-theme .buttons-container .btn {
  margin-right: 10px;
}
.nca-theme .buttons-container .btn:last-of-type {
  margin-right: 0;
}
.nca-theme input[type=file] {
  display: none;
}
.nca-theme .uploader-button {
  background-repeat: no-repeat;
  background-size: 14px;
  padding-left: 34px;
  background-position: 12px 10px;
  background-image: url('data:image/svg+xml;utf8,<svg width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64"><g><g fill="str-replace(#636b6f, "#", "%23")"><path d="m63.824,41.771c0-1.341-1.086-2.428-2.427-2.428-1.342,0-2.428,1.087-2.428,2.428v14.07h-54.014v-14.07c1.77636e-15-1.341-1.085-2.428-2.428-2.428-1.341,0-2.427,1.087-2.427,2.428v15.486c0,0.179 0.065,0.337 0.103,0.505-0.037,0.168-0.103,0.326-0.103,0.506 0,1.34 1.086,2.427 2.427,2.427h58.87c1.341,0 2.427-1.087 2.427-2.427 0-0.18-0.063-0.338-0.103-0.506 0.039-0.168 0.103-0.327 0.103-0.505v-15.486z"/><path d="m32.114,49.306c1.341,0 2.428-1.087 2.428-2.427v-35.464l10.573,10.573c0.474,0.474 1.096,0.712 1.717,0.712 0.62,0 1.242-0.238 1.715-0.712 0.95-0.948 0.95-2.484 0-3.432l-14.717-14.717c-0.947-0.95-2.483-0.95-3.432-4.44089e-16l-14.717,14.717c-0.947,0.948-0.947,2.484 0,3.432 0.474,0.474 1.096,0.712 1.717,0.712s1.242-0.238 1.716-0.712l10.573-10.573v35.464c0,1.34 1.085,2.427 2.427,2.427z"/></g></g></svg>');
}
.nca-theme .uploader-dragndrop {
  background: #fafafa;
  padding: 30px 30px;
  border: 1px dashed #e7e7e7;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.nca-theme .uploader-dragndrop:hover {
  border: 1px dashed #24ACF8;
}
.nca-theme .uploader-dragndrop.uploader-dragndrop-over {
  border: 2px dashed #24ACF8;
}
.nca-theme .uploader-dragndrop .dragndrop-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="inbox" class="svg-inline--fa fa-inbox fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="str-replace(#24ACF8, "#", "%23")" d="M566.819 227.377L462.377 83.768A48.001 48.001 0 0 0 423.557 64H152.443a47.998 47.998 0 0 0-38.819 19.768L9.181 227.377A47.996 47.996 0 0 0 0 255.609V400c0 26.51 21.49 48 48 48h480c26.51 0 48-21.49 48-48V255.609a47.996 47.996 0 0 0-9.181-28.232zM139.503 102.589A16.048 16.048 0 0 1 152.443 96h271.115c5.102 0 9.939 2.463 12.94 6.589L524.796 224H388.223l-32 64H219.777l-32-64H51.204l88.299-121.411zM544 272v128c0 8.823-7.178 16-16 16H48c-8.822 0-16-7.177-16-16V272c0-8.837 7.163-16 16-16h120l32 64h176l32-64h120c8.837 0 16 7.163 16 16z"></path></svg>');
}
.nca-theme .uploader-dragndrop .dragndrop-title {
  font-weight: 600;
  margin-top: 10px;
  font-size: 14px;
  color: #333333;
}
.nca-theme .uploader-dragndrop .dragndrop-description {
  margin-top: 3px;
  font-size: 13px;
  font-size: 14px;
  color: #333333;
}
.nca-theme .previews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.nca-theme .previews.previews-sortable .preview {
  cursor: all-scroll;
}
.nca-theme .previews.element-group {
  padding-right: 0;
}
.nca-theme .preview {
  margin-top: 15px;
}
.nca-theme .preview .remove {
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  transition: 0.3s;
}
.nca-theme .preview.sortable-ghost {
  background: #f1f1f1;
  border-radius: 4px;
}
.nca-theme .preview.preview-file {
  width: 100%;
}
.nca-theme .preview.preview-file .icon-clip {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  position: relative;
  top: 4px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 15px;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="paperclip" class="svg-inline--fa fa-paperclip fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="str-replace(#000000, "#", "%23")" d="M149.106 512c-33.076 0-66.153-12.59-91.333-37.771-50.364-50.361-50.364-132.305-.002-182.665L319.842 29.498c39.331-39.331 103.328-39.331 142.66 0 39.331 39.332 39.331 103.327 0 142.657l-222.63 222.626c-28.297 28.301-74.347 28.303-102.65 0-28.3-28.301-28.3-74.349 0-102.649l170.301-170.298c4.686-4.686 12.284-4.686 16.97 0l5.661 5.661c4.686 4.686 4.686 12.284 0 16.971l-170.3 170.297c-15.821 15.821-15.821 41.563.001 57.385 15.821 15.82 41.564 15.82 57.385 0l222.63-222.626c26.851-26.851 26.851-70.541 0-97.394-26.855-26.851-70.544-26.849-97.395 0L80.404 314.196c-37.882 37.882-37.882 99.519 0 137.401 37.884 37.881 99.523 37.882 137.404.001l217.743-217.739c4.686-4.686 12.284-4.686 16.97 0l5.661 5.661c4.686 4.686 4.686 12.284 0 16.971L240.44 474.229C215.26 499.41 182.183 512 149.106 512z"></path></svg>');
}
.nca-theme .preview.preview-file .remove {
  width: 17px;
  height: 17px;
  top: 4px;
  margin-left: 3px;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="str-replace(#24ACF8, "#", "%23")" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>');
  background-size: 13px 13px;
  background-position: 2px 2px;
  background-color: transparent;
  border-radius: 3px;
}
.nca-theme .preview.preview-file .remove:hover {
  background-color: #eaf7fe;
}
.nca-theme .preview.preview-image .picture {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-color: #fafafa;
}
.nca-theme .preview.preview-image .filename {
  display: inline-block;
  margin-left: 12px;
  font-size: 14px;
}
.nca-theme .preview.preview-image.preview-image-list {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 12px 12px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.nca-theme .preview.preview-image.preview-image-list .picture {
  height: 64px;
  width: 64px;
}
.nca-theme .preview.preview-image.preview-image-list .remove {
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="str-replace(#555555, "#", "%23")" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>');
  background-position: 2px 2px;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-size: 16px 16px;
  background-color: transparent;
}
.nca-theme .preview.preview-image.preview-image-list .remove:hover {
  background-color: #f1f1f1;
}
.nca-theme .preview.preview-image.preview-image-gallery {
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: relative;
  display: flex;
  padding: 8px;
  width: 98px;
}
.nca-theme .preview.preview-image.preview-image-gallery .picture {
  width: 80px;
  height: 80px;
}
.nca-theme .preview.preview-image.preview-image-gallery .filename {
  display: none;
}
.nca-theme .preview.preview-image.preview-image-gallery .remove {
  width: 20px;
  height: 20px;
  background-size: 14px 14px;
  background-position: 3px 3px;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23ffffff" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>');
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 4px 0 3px;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.45);
}
.nca-theme .preview.preview-image.preview-image-gallery .remove:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.nca-theme .preview.preview-image.preview-image-gallery:hover .remove {
  opacity: 1;
}
.nca-theme .avatar-preview {
  border-radius: 50%;
  border: 1px solid #ced4da;
  width: 120px;
  height: 120px;
  padding: 4px;
  position: relative;
}
.nca-theme .avatar-preview .avatar-placeholder {
  display: inline-block;
  background: #EEF8FF;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: url('data:image/svg+xml;utf8,<svg width="51px" height="70px" viewBox="0 0 51 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="ui" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-633.000000, -208.000000)"><g id="Group" transform="translate(614.000000, 188.000000)" fill="%23CBE3F5" fill-rule="nonzero"><g id="user" transform="translate(19.000000, 20.000000)"><path d="M45.4720435,47.9195707 L34.8806739,42.5833803 C33.8817391,42.0794812 33.2608696,41.0672139 33.2608696,39.9409828 L33.2608696,36.1634159 C33.5147609,35.8505739 33.7819565,35.4941575 34.0580217,35.1008704 C35.4316957,33.145608 36.5326304,30.9691217 37.3331087,28.6216895 C38.8974783,27.8988011 39.9130435,26.3401776 39.9130435,24.5804415 L39.9130435,20.1112703 C39.9130435,19.0353173 39.513913,17.9928832 38.8043478,17.1783767 L38.8043478,11.2354963 C38.8664348,10.6209853 39.1103478,6.96296869 36.4849565,3.94516086 C34.2076957,1.32734384 30.512413,0 25.5,0 C20.487587,0 16.7923043,1.32734384 14.5150435,3.94404356 C11.8896522,6.9618514 12.1335652,10.6209853 12.1956522,11.2354963 L12.1956522,17.1783767 C11.486087,17.9928832 11.0869565,19.0353173 11.0869565,20.1112703 L11.0869565,24.5804415 C11.0869565,25.9401868 11.7000652,27.2083141 12.7466739,28.0541048 C13.7622391,32.1065257 15.8876087,35.1600869 16.6304348,36.1399527 L16.6304348,39.8370746 C16.6304348,40.918614 16.0450435,41.91077 15.1037609,42.4291939 L5.21308696,47.8659406 C1.99676087,49.6346151 0,53.0244814 0,56.7160168 L0,60.3338109 C5.31485966e-14,62.6500714 14.5150435,69.4134794 25.5,69.4134794 C36.4849565,69.4134794 51,63.2860262 51,60.3338109 L51,56.9338889 C51,53.0926363 48.8812826,49.637967 45.4720435,47.9195707 Z" id="avatar"></path></g></g></g></svg>');
  background-repeat: no-repeat;
  background-position: center bottom -1px;
  background-size: 67px 93px;
}
.nca-theme .avatar-preview .avatar-image {
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.nca-theme .avatar-preview .remove {
  width: 20px;
  height: 20px;
  background-size: 14px 14px;
  background-position: 3px 3px;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23ffffff" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>');
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.45);
  background-repeat: no-repeat;
}
.nca-theme .avatar-preview .remove:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.nca-theme .avatar-preview:hover .remove {
  opacity: 1;
}
.nca-theme .gallery-element .element-group.previews-view-gallery > .element-container {
  max-width: 108px;
}
.nca-theme .checkbox, .nca-theme .radio {
  margin: 0;
}
.nca-theme .radio-group .radio, .nca-theme .checkbox-group .checkbox {
  margin: 0 0 10px 0;
}
.nca-theme .native-select-placeholder {
  color: #999999;
  font-size: 14px;
  position: absolute;
  top: 6px;
  left: calc((30px / 2) + 12px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.nca-theme .has-value .native-select-placeholder {
  display: none;
}
.nca-theme .multiselect.multiselect--active {
  z-index: 10;
}
.nca-theme .multiselect.multiselect--active .multiselect__tags {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.nca-theme .multiselect.multiselect--disabled .multiselect__tags {
  background-color: #eeeeee;
}
.nca-theme .multiselect .multiselect__spinner {
  right: 6px;
  top: calc(36px - 34px);
  width: 30px;
  height: 30px;
  z-index: 1;
}
.nca-theme .multiselect .multiselect__spinner:before {
  border-color: #24ACF8 transparent transparent;
}
.nca-theme .multiselect .multiselect__spinner:after {
  border-color: #24ACF8 transparent transparent;
}
.nca-theme .multiselect .multiselect__placeholder {
  padding-top: 0;
}
.nca-theme .multiselect .multiselect__select {
  height: calc(36px - 2px);
}
.nca-theme .multiselect .multiselect__tags {
  min-height: 0;
  display: block;
  width: 100%;
  min-height: 36px;
  padding: 6px 12px 0 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.nca-theme .multiselect .multiselect__tags::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.nca-theme .multiselect .multiselect__tags:-ms-input-placeholder {
  color: #999999;
}
.nca-theme .multiselect .multiselect__tags::-webkit-input-placeholder {
  color: #999999;
}
.nca-theme .multiselect .multiselect__tags::-ms-expand {
  background-color: transparent;
  border: 0;
}
.nca-theme .multiselect .multiselect__tags[disabled], .nca-theme .multiselect .multiselect__tags[readonly], fieldset[disabled] .nca-theme .multiselect .multiselect__tags {
  background-color: #eeeeee;
  opacity: 1;
}
.nca-theme .multiselect .multiselect__tags[disabled], fieldset[disabled] .nca-theme .multiselect .multiselect__tags {
  cursor: not-allowed;
}
.nca-theme .multiselect .multiselect__tags .multiselect__single {
  font-size: 14px;
  line-height: 1.6;
  padding-left: 0;
  width: auto;
  margin-right: 6px;
  margin-bottom: 6px;
}
.nca-theme .multiselect .multiselect__content-wrapper {
  z-index: 20;
}
.nca-theme .multiselect .multiselect__option {
  font-size: 14px;
  line-height: 1.6;
  padding: 6px 12px;
  min-height: 0;
  line-height: inherit;
}
.nca-theme .multiselect .multiselect__option:after {
  line-height: 1.6;
  padding-top: 6px;
  padding-right: 12px;
  font-size: 14px;
}
.nca-theme .multiselect .multiselect__option--highlight {
  background-color: #24ACF8;
}
.nca-theme .multiselect .multiselect__option--highlight:after {
  background-color: #24ACF8;
}
.nca-theme .multiselect .multiselect__option--selected {
  background-color: #eeeeee;
  font-weight: 300;
}
.nca-theme .multiselect .multiselect__option--selected.multiselect__option--highlight {
  background-color: #24ACF8;
}
.nca-theme .multiselect .multiselect__option--selected.multiselect__option--highlight:after {
  background-color: #24ACF8;
}
.nca-theme .multiselect .multiselect__tag {
  background: #24ACF8;
  margin-right: 6px;
  margin-bottom: 0;
}
.nca-theme .multiselect .multiselect__tag-icon:after {
  color: #0683c9;
}
.nca-theme .multiselect .multiselect__tag-icon:hover {
  background: #0793e2;
}
.nca-theme .multiselect .multiselect__tag-icon:hover:after {
  color: #ffffff;
}
.nca-theme .multiselect .multiselect__input {
  font-size: 14px;
  padding-left: 0;
  position: absolute;
  left: 12px;
  width: initial;
  top: 6px;
  height: 28px;
}
.nca-theme .multiselect .multiselect__tags .multiselect__input {
  position: relative;
  width: auto;
  left: 0px;
  top: 0px;
  height: initial;
}
.nca-theme .slider-element .row > div:last-of-type {
  margin-top: 5px;
}
.nca-theme .vue-slider-component .vue-slider {
  background-color: #d6e4ec;
}
.nca-theme .vue-slider-component .vue-slider-tooltip {
  border-color: #24ACF8;
  background-color: #24ACF8;
}
.nca-theme .vue-slider-component .vue-slider-process {
  background-color: #24ACF8;
}
.nca-theme .vue-js-switch .v-switch-core {
  background: #d6e4ec;
}
.nca-theme .vue-js-switch.toggled .v-switch-core {
  background: #24ACF8;
}
.nca-theme .toggle-text {
  display: inline-block;
  margin: 0px 0 0 5px;
  position: relative;
  top: -3px;
}
.nca-theme trix-toolbar {
  min-height: 36px;
  background: #fff;
  border: 1px solid #cccccc;
  margin: 0;
  padding: 8px 6px;
  border-radius: 0;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}
.nca-theme trix-toolbar .trix-button-row {
  overflow-x: auto;
}
.nca-theme trix-toolbar .trix-button-group {
  border: 0 !important;
  margin: 0 !important;
}
.nca-theme trix-toolbar .trix-button-group button {
  border: 0 !important;
}
.nca-theme trix-toolbar .trix-button-group button:not(.trix-active):hover {
  background-color: #f9f9f9;
}
.nca-theme trix-toolbar .trix-button {
  border-radius: 4px;
}
.nca-theme trix-toolbar .trix-button.trix-active {
  background-color: rgba(36, 172, 248, 0.3);
}
.nca-theme trix-editor {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0 0 4px 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.nca-theme trix-editor:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.nca-theme trix-editor blockquote {
  font-size: 14px;
  line-height: 1.6;
}
.nca-theme .trix-disabled trix-toolbar .trix-button-group button {
  pointer-events: none;
}
.nca-theme .flatpickr-wrapper {
  width: 100%;
}
.nca-theme .flatpickr-input[readonly] {
  background-color: #ffffff;
}
.nca-theme .flatpickr-prev-month svg, .nca-theme .flatpickr-next-month svg {
  pointer-events: none;
}
.nca-theme .element-group {
  padding-right: 15px;
}
.nca-theme .element-group .element-container {
  padding-right: 0;
}
.nca-theme > .element-container {
  padding: 0;
}
.nca-theme .list-element-container {
  width: 100%;
}
.nca-theme .list-element-container-sortable .element-container {
  cursor: -webkit-grab;
  cursor: grab;
}
.nca-theme .list-element-container-sortable .element-container:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.nca-theme .has-danger .form-control {
  border-color: #bf5329;
}
.nca-theme .control-label {
  font-weight: bold;
}
.nca-theme .floating-label {
  position: absolute;
  background: #fff;
  font-size: 10px;
  left: 26px;
  top: -9px;
  padding: 0 0;
  transition: all 0.2s ease-out;
  opacity: 0;
  transform: translateY(3px);
  color: #737373;
  z-index: 4;
  line-height: 10px;
}
.nca-theme .floating-label.floating-label-visible {
  opacity: 1;
  transform: 0;
}
.nca-theme .element-info {
  position: relative;
  display: inline-block;
}
.nca-theme .element-info > i:after {
  background: #f1f1f1;
  color: #777;
  font-weight: 900;
  font-style: normal;
  border-radius: 50%;
  font-size: 11px;
  content: "?";
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-top: 1px;
  padding-left: 1px;
  margin-left: 2px;
}
.nca-theme .element-info .element-tooltip {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  z-index: 999;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
  transform: translateX(-50%);
  width: 200px;
  left: 8px;
  top: 19px;
}
.nca-theme .element-info:hover {
  text-decoration: none;
}
.nca-theme .element-info:hover .element-tooltip {
  display: block;
}
.nca-theme .element-loader {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc((36px - 20px) / 2);
  margin: 0;
  right: calc((30px / 2) + 12px);
  z-index: 3;
  font-size: 10px;
  text-indent: -9999em;
  border-radius: 50%;
  background: #24ACF8;
  background: linear-gradient(to right, #24ACF8 10%, rgba(0, 233, 255, 0) 42%);
  -webkit-animation: loader 1.2s infinite linear;
  animation: loader 1.2s infinite linear;
  transform: translateZ(0);
}
.nca-theme .element-loader:before {
  width: 50%;
  height: 50%;
  background: #24ACF8;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.nca-theme .element-loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nca-theme.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.nca-theme .input-group {
  width: 100%;
}
.nca-theme .form-language-selectors {
  margin-bottom: 20px;
}
.nca-theme .list-remove {
  position: absolute;
  left: 4px;
  top: -6px;
  z-index: 3;
  width: 17px;
  height: 17px;
  margin-left: 3px;
  background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"></path></svg>');
  background-size: 13px 13px;
  background-position: 2px 2px;
  font-size: 0;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  opacity: 0;
}
.nca-theme .list-add {
  margin-bottom: 15px;
}
.nca-theme .form-group:hover .list-remove {
  opacity: 1;
}
.nca-theme .object-element:hover .list-remove {
  opacity: 1;
}
.nca-theme .form-tabs {
  margin-bottom: 20px;
}
.nca-theme .form-tabs li.active a {
  background: #ffffff;
}
.nca-theme .form-wizard {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #e7e7e7;
  overflow-x: auto;
}
.nca-theme .wizard-step {
  position: relative;
  white-space: nowrap;
  flex: 1;
  text-align: center;
  padding: 0 10px;
}
.nca-theme .wizard-step:nth-child(1):before, .nca-theme .wizard-step:nth-child(1) a:before, .nca-theme .wizard-step:nth-child(1) a:after {
  z-index: 10;
}
.nca-theme .wizard-step:nth-child(2):before, .nca-theme .wizard-step:nth-child(2) a:before, .nca-theme .wizard-step:nth-child(2) a:after {
  z-index: 9;
}
.nca-theme .wizard-step:nth-child(3):before, .nca-theme .wizard-step:nth-child(3) a:before, .nca-theme .wizard-step:nth-child(3) a:after {
  z-index: 8;
}
.nca-theme .wizard-step:nth-child(4):before, .nca-theme .wizard-step:nth-child(4) a:before, .nca-theme .wizard-step:nth-child(4) a:after {
  z-index: 7;
}
.nca-theme .wizard-step:nth-child(5):before, .nca-theme .wizard-step:nth-child(5) a:before, .nca-theme .wizard-step:nth-child(5) a:after {
  z-index: 6;
}
.nca-theme .wizard-step:nth-child(6):before, .nca-theme .wizard-step:nth-child(6) a:before, .nca-theme .wizard-step:nth-child(6) a:after {
  z-index: 5;
}
.nca-theme .wizard-step:nth-child(7):before, .nca-theme .wizard-step:nth-child(7) a:before, .nca-theme .wizard-step:nth-child(7) a:after {
  z-index: 4;
}
.nca-theme .wizard-step:nth-child(8):before, .nca-theme .wizard-step:nth-child(8) a:before, .nca-theme .wizard-step:nth-child(8) a:after {
  z-index: 3;
}
.nca-theme .wizard-step:before {
  content: " ";
  display: inline-block;
  height: 4px;
  background: #24ACF8;
  position: absolute;
  top: -12px;
  left: 0;
  right: 50%;
  transition: 0.3s;
}
.nca-theme .wizard-step:after {
  content: " ";
  display: inline-block;
  height: 4px;
  background: #24ACF8;
  position: absolute;
  top: -12px;
  left: 50%;
  right: 0;
  transition: 0.3s;
}
.nca-theme .wizard-step a {
  text-decoration: none !important;
}
.nca-theme .wizard-step a:hover, .nca-theme .wizard-step a:focus, .nca-theme .wizard-step a:active {
  text-decoration: none !important;
}
.nca-theme .wizard-step a:before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: #24ACF8;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -18px;
  z-index: 3;
}
.nca-theme .wizard-step a:after {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  left: calc(50% - 4px);
  transform: scale(0);
  top: -14px;
  z-index: 4;
  transition: transform 0.3s ease-in-out;
}
.nca-theme .wizard-step:first-of-type {
  padding-left: 0;
  text-align: left;
}
.nca-theme .wizard-step:first-of-type:before {
  display: none;
}
.nca-theme .wizard-step:first-of-type:after {
  left: 0;
}
.nca-theme .wizard-step:first-of-type a:before {
  left: 0;
  transform: none;
}
.nca-theme .wizard-step:first-of-type a:after {
  left: 4px;
  transform: scale(0);
}
.nca-theme .wizard-step:last-of-type {
  padding-right: 0;
  text-align: right;
}
.nca-theme .wizard-step:last-of-type:after {
  display: none;
}
.nca-theme .wizard-step:last-of-type:before {
  right: 0;
}
.nca-theme .wizard-step:last-of-type a:before {
  right: 0;
  left: auto;
  left: initial;
  transform: none;
}
.nca-theme .wizard-step:last-of-type a:after {
  left: auto;
  left: initial;
  transform: scale(0);
  right: 4px;
}
.nca-theme .wizard-step.wizard-step-disabled:before {
  background: #d6e4ec;
  left: -100%;
}
.nca-theme .wizard-step.wizard-step-disabled a {
  color: #9BB2BF;
}
.nca-theme .wizard-step.wizard-step-disabled a:before {
  background: #d6e4ec;
}
.nca-theme .wizard-step.wizard-step-completed a:after {
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>');
  background-size: 8px 8px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 0;
  transform: scale(1);
}
.nca-theme .wizard-step.wizard-step-active a:after {
  background: #ffffff;
  top: -14px;
  transform: scale(1);
  border-radius: 50%;
}
.nca-theme .wizard-step.wizard-step-errors a {
  color: #bf5329;
}
.nca-theme .wizard-step.wizard-step-errors a:before {
  color: #bf5329;
}
.nca-theme .wizard-step.wizard-step-errors a:after {
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="exclamation" class="svg-inline--fa fa-exclamation fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="white" d="M176 432c0 44.112-35.888 80-80 80s-80-35.888-80-80 35.888-80 80-80 80 35.888 80 80zM25.26 25.199l13.6 272C39.499 309.972 50.041 320 62.83 320h66.34c12.789 0 23.331-10.028 23.97-22.801l13.6-272C167.425 11.49 156.496 0 142.77 0H49.23C35.504 0 24.575 11.49 25.26 25.199z"></path></svg>');
  background-size: 8px 8px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  top: -14px;
  border-radius: 0;
}
.nca-theme .wizard-step.wizard-step-pending a:after {
  background: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="hourglass-start" class="svg-inline--fa fa-hourglass-start fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="white" d="M372 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h4c0 80.564 32.188 165.807 97.18 208C47.898 298.381 16 383.9 16 464h-4c-6.627 0-12 5.373-12 12v24c0 6.627 5.373 12 12 12h360c6.627 0 12-5.373 12-12v-24c0-6.627-5.373-12-12-12h-4c0-80.564-32.188-165.807-97.18-208C336.102 213.619 368 128.1 368 48h4c6.627 0 12-5.373 12-12V12c0-6.627-5.373-12-12-12zm-52 464H64c0-101.62 57.308-184 128-184s128 82.38 128 184z"></path></svg>');
  background-size: 8px 8px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  transform: scale(1);
  border-radius: 0;
}
.nca-theme .form-wizard-controls {
  margin-bottom: 20px;
}
.nca-theme .lf-wizard {
  margin-bottom: 20px;
}
.nca-theme .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  color: rgba(255, 255, 255, 0.8);
}
.nca-theme .lightbox-close {
  position: fixed;
  z-index: 210;
  right: 0;
  top: 0;
  padding: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  color: white;
}
.nca-theme .lightbox-main {
  display: flex;
  width: 100%;
  height: 100%;
}
.nca-theme .lightbox-arrow {
  padding: 0 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 2rem;
  height: 100%;
  width: 2rem;
  z-index: 100;
}
.nca-theme .lightbox-arrow-right {
  right: 0;
}
.nca-theme .lightbox-arrow-left {
  left: 0;
}
.nca-theme .lightbox-image-container {
  -webkit-box-flex: 1;
  width: 20%;
  flex: 1;
}
.nca-theme .lightbox-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.nca-theme .lightbox-caption {
  position: absolute;
  bottom: 15px;
  width: 100%;
  z-index: 100;
  text-align: center;
  text-shadow: 1px 1px 3px #1a1a1a;
}
.nca-theme .lightbox-caption span {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nca-theme .lightbox-slide-enter-active,
.nca-theme .lightbox-slide-leave-active {
  transition: all 0.4s ease;
}
.nca-theme .lightbox-slide-enter {
  transform: translateX(100px);
  opacity: 0;
}
.nca-theme .lightbox-slide-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
.nca-theme .lightbox-fade-enter-active,
.nca-theme .lightbox-fade-leave-active {
  transition: all 0.4s ease;
}
.nca-theme .lightbox-fade-enter,
.nca-theme .lightbox-fade-leave-to {
  opacity: 0;
}
.nca-theme .lf-flatpickr.flatpickr-calendar {
  width: 307.875px;
}
.nca-theme .lf-flatpickr .flatpickr-current-months {
  padding-top: 5px;
}
.nca-theme .lf-flatpickr .flatpickr-current-month span.cur-month {
  font-size: 14px;
}
.nca-theme .lf-flatpickr .flatpickr-current-month .numInputWrapper {
  font-size: 15px;
}
.nca-theme .lf-flatpickr .flatpickr-months .flatpickr-month {
  background: #e9eef1;
}
.nca-theme .lf-flatpickr .flatpickr-months .flatpickr-prev-month:hover svg, .nca-theme .lf-flatpickr .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #24ACF8;
}
.nca-theme .lf-flatpickr .flatpickr-weekdays {
  background: #e9eef1;
}
.nca-theme .lf-flatpickr span.flatpickr-weekday {
  background: #e9eef1;
}
.nca-theme .lf-flatpickr .flatpickr-days {
  width: 307.875px;
}
.nca-theme .lf-flatpickr .dayContainer {
  width: 307.875px;
  max-width: 307.875px;
  min-width: 307.875px;
}
.nca-theme .lf-flatpickr .flatpickr-day {
  border-radius: 50%;
  color: #555555;
  height: 39px;
  line-height: 39px;
}
.nca-theme .lf-flatpickr .flatpickr-day.disabled {
  opacity: 0.5;
}
.nca-theme .lf-flatpickr .flatpickr-day.today {
  background: #e9eef1;
  border: 0;
}
.nca-theme .lf-flatpickr .flatpickr-day.today:hover {
  background: #d6e4ec;
  color: #555555;
}
.nca-theme .lf-flatpickr .flatpickr-day:hover {
  border-color: #e9eef1;
  background: #e9eef1;
}
.nca-theme .lf-flatpickr .flatpickr-day.selected {
  border-radius: 50%;
  background-color: #24ACF8;
  border-color: #24ACF8;
  color: #ffffff;
}
.nca-theme .lf-flatpickr .flatpickr-day.selected:hover {
  background-color: #24ACF8;
  border-color: #24ACF8;
  color: #ffffff;
}
.nca-theme .lf-flatpickr .flatpickr-day.selected:focus {
  background-color: #24ACF8;
  border-color: #24ACF8;
  color: #ffffff;
}
.nca-theme .lf-flatpickr .flatpickr-day.selected.startRange, .nca-theme .lf-flatpickr .flatpickr-day.startRange.startRange {
  border-radius: 50% 0 0 50%;
  background-color: #24ACF8;
  border-color: #24ACF8;
  color: #ffffff;
}
.nca-theme .lf-flatpickr .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .nca-theme .lf-flatpickr .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .nca-theme .lf-flatpickr .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 #24ACF8;
}
.nca-theme .lf-flatpickr .flatpickr-day.inRange, .nca-theme .lf-flatpickr .flatpickr-day.prevMonthDay.inRange, .nca-theme .lf-flatpickr .flatpickr-day.nextMonthDay.inRange, .nca-theme .lf-flatpickr .flatpickr-day.today.inRange {
  box-shadow: -5px 0 0 #e9eef1, 5px 0 0 #e9eef1;
  background: #e9eef1;
  border-color: #e9eef1;
  border-radius: 0;
}
.nca-theme .lf-flatpickr .flatpickr-day.selected.startRange.endRange, .nca-theme .lf-flatpickr .flatpickr-day.startRange.startRange.endRange, .nca-theme .lf-flatpickr .flatpickr-day.endRange.startRange.endRange {
  border-radius: 50%;
}
.nca-theme .lf-flatpickr .flatpickr-day.selected.endRange, .nca-theme .lf-flatpickr .flatpickr-day.endRange.endRange {
  border-radius: 0 50% 50% 0;
  background-color: #24ACF8;
  border-color: #24ACF8;
  color: #ffffff;
  box-shadow: none;
}
.nca-theme .lf-flatpickr .flatpickr-day.week.selected {
  border-radius: 0;
  box-shadow: -5px 0 0 #24ACF8, 5px 0 0 #24ACF8;
}
.nca-theme .lf-flatpickr .flatpickr-time input:focus {
  background: #e9eef1;
}
.nca-theme .lf-flatpickr .flatpickr-time input:hover {
  background: #d6e4ec;
}
