.nca-theme {
    @import '~@laraform/laraform/src/themes/bs4/scss/vars';
    @import '~@laraform/laraform/src/themes/bs4/scss/mixins';
    @import '~@laraform/laraform/src/themes/bs4/scss/components';

    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
}
